*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --naranja_cartas: #fc5000;
  --azul_sombras: #0245ff9c;
  --negro: #000;
  --rojo_titulos: #b60c00;
  --color_transparencia: #ffae7bb2;
  --blanco: #fff;
  --azul_puro: blue;
  --alineacion_centro: center;
  --fuente: 'Gill Sans', 'Trebuchet MS', sans-serif;
  --img_encabezado: url(img/DRAGON-BALL-galery-fondo.webp);
  --img_fondo: url(img/fondo.png);
}

body{
    font-family: var(--fuente);
    /* font-family: "Anton", sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-transform: capitalize;
}

main{
    background: var(--img_fondo);
    background-attachment: fixed;
    background-size: cover;
}

header.encabezado{
    background: var(--img_encabezado) var(--naranja_cartas) no-repeat;
    background-size: contain;
    background-position: var(--alineacion_centro);
    height: 100px;
    border-bottom: 2px solid var(--azul_puro);
}

div.filas{
    text-align: var(--alineacion_centro);
}

div.carta{
    text-align: var(--alineacion_centro);
    width: 360px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: var(--color_transparencia);
    box-shadow: 0px 0px 5px var(--azul_sombras);
}

img.img{
    filter: drop-shadow(0px 0px 5px var(--negro));
    width: 50%;
    height: 15rem;
    object-fit: contain;
    margin-top: 10px;
}

h1.titulo{
    font-size: 30px;
    font-weight: bold;
    margin: 15px 10px;
    min-height: 3.5rem;
    max-height: 50px;
    color: var(--rojo_titulos);
}

p.texto{
    display: block;
    margin: 20px;
    min-height: 4rem;
    max-height: 80px;
    font-size: 18px;
    font-weight: bold;
}

a.boton{
    display: block;
    background-color: var(--naranja_cartas);
    font-size: 17px;
    text-decoration: none;
    color: var(--blanco);
    border-radius: 5px;
    padding: 7px 10px;
    margin: 60px  30%;
    margin-bottom: 33px;
    box-shadow: 0px 0px 3px var(--azul_sombras);
}